@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.custom-modal {
    background-color: rgba(0, 0, 0, 0.7);

}

.admin-panel {
    margin-left: -100px !important;
    background: #260606;
    width: 400px !important;
    height: 560px !important;
    border-radius: 25px !important;
    padding: 30px !important;
    box-sizing: border-box !important;
}

.main-content {
    background: #260606;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main-content2 {
    background: #260606;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    width: 450px;
    height: 550px;
    margin-left: 10px;
    text-align: center;
}

.breadcrumb {
    list-style: none;
    padding: 0;
}

.breadcrumb-item {
    margin: 20px 0;
}

.button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.button:hover {
    color: black;
}

.button2 {
    color: white;
}

.button2:hover {
    background-color: #11c33a !important;
    border-color: #11c33a !important;
    transition: 1s !important;
}

.button3 {
    background-color: #8C0303 !important;
    border-color: #8C0303 !important;
    transition: 1s !important;
}


.custom-button:hover {
    background-color: #11c33a !important;
    /* Change the background color of the buttons on hover */
    border-color: #11c33a !important;
    /* Change the border color of the buttons on hover */
    transition: 1s !important;

}

.custom-button2:hover {
    background-color: #8C0303 !important;
    /* Change the background color of the buttons on hover */
    border-color: #8C0303 !important;
    /* Change the border color of the buttons on hover */
    transition: 1s !important;

}

.ul-btn button {
    width: 100%;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.ul-btn button:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffffff;
}


.req-table tbody {
    background-color: #2F0000;
}

.backback {
    background-color: #2F0000 !important
}

.searchbox {
    background-color: rgba(0, 0, 0, 0.386);
    padding: 6px;
    color: white;
    font-size: 13px;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Ensure the header stays above the table content */
}

.custom-tabs .nav-link {
    color: white;
}

.custom-tabs:hover {
    color: white !important;
    text-decoration-color: #11c33a;
}

.rdt_Pagination {
    background-color: #5F0000 !important;
    color: white !important;
}

.rdt_Pagination .kuPCgf>* {
    background-color: #5F0000 !important;
    color: white !important;
    border-radius: 50%;
}

.whitt {
    color: white !important;
    text-decoration: none !important;
}

.bread {
    color: white;
}

.custom-tab:hover {
    background: transparent !important;
    color: white !important;
    text-decoration: none !important;

}

.nav:hover {
    color: white !important;
}

.slider .thumb {
    background-color: white;
    height: 10px;
    width: 10px;
    cursor: grab;
}

.slider .track {
    background-color: grey;
    height: 5px;
}

.slider .active {
    background-color: white;
}

.search-bar {
    background-color: #1E1E1E;
    border: 1px solid #ffffff;
    color: white;
    margin-top: 65px;
    margin-right: 56px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    font-size: 15px;
    padding: 5px 10px;
    /* Add padding for better aesthetics */
}

.whiteTextDataTable {
    color: white;
    background-color: #A60000;
}

.search-bar-container {
    position: relative;
}

.search-bar {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
}

.adminPanelStyle {
    margin-left: -100px;
    background: #212121;
    border-radius: 10px;
    width: 170px;
    height: 455px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminPanelStyle2 {
    margin-left: -100px;
    background: #212121;
    border-radius: 10px;
    width: 170px;
    height: 497px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-buttonmusic1 {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    font-size: 20px !important;
    margin: 15px;
    text-align: left;
    padding: 6px 56px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

.custom-buttonmusic1:hover {
    background-color: #A60000 !important;
    border-color: transparent !important;
    color: #000000 !important;
    border-radius: 0 !important;
    /* Change text color on hover */
}

.custom-buttonmusic2 {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    font-size: 20px !important;
    margin: 15px;
    text-align: left;
    padding: 6px 50px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

.custom-buttonmusic2:hover {
    background-color: #A60000 !important;
    border-color: transparent !important;
    color: #000000 !important;
    border-radius: 0 !important;
    /* Change text color on hover */
}

.custom-buttonmusic3 {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    font-size: 20px !important;
    margin: 15px;
    text-align: left;
    padding: 6px 47px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

.custom-buttonmusic3:hover {
    background-color: #A60000 !important;
    border-color: transparent !important;
    color: #000000 !important;
    border-radius: 0 !important;
    /* Change text color on hover */
}

.custom-buttonmusic4 {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    font-size: 20px !important;
    margin: 15px;
    text-align: left;
    padding: 6px 38px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

.custom-buttonmusic4:hover {
    background-color: #A60000 !important;
    border-color: transparent !important;
    color: #000000 !important;
    border-radius: 0 !important;
    /* Change text color on hover */
}

.musicpanelstyle {
    background: #A60000;
    width: 1000px;
    height: 20px;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.login-link {
    background-color: white !important;
    color: black !important;
    border-radius: 30px;
    padding: 10px 40px !important;
    font-weight: bold !important;
}

.register-link {
    color: gray !important;
    border-radius: 30px;
    padding: 10px 40px !important;
    font-weight: bold !important;
}

.logout-link {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
}

.logout-link:hover {
    background-color: rgb(109, 109, 109) !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
}

.addplaylistbtn {
    background-color: black !important;
    color: white !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
    border-color: white !important;
}

.emojibtn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.playmusicbtn {
    border-radius: 50%; /* This makes the button circular */
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    color: #DC143C !important;
    background-color: #000000 !important;
    border: none; /* Remove button border */
  }
  
  .playmusicbtn:focus {
    outline: none; /* Remove focus outline */
  }
  
  .playmusicbtn .icon {
    font-size: 18px; /* Adjust icon size */
    color: #000000; /* Icon color */
  }

.playmusicbtn:hover {
    color: #000000 !important;
    background-color: #DC143C !important;
    border-color: #ffffff !important;
    transition: .5s !important;
    border-radius: 50% !important;
}

.timeandduration {
    font-size: 10px !important;
}

.table-playlist-container {
    width: 80% !important;
}

.margin1 {
    margin-left: 20px !important;
    margin-top: -80px !important;
}

.playlist-background-table {
    background-color: #260606 !important;
    margin-left: 10px !important;
}

.whittt {
    color: white !important;
}

.up {
    margin-bottom: 10px !important;
}

.Playlist-Modal-Header {
    background: linear-gradient(to bottom, #6a0000, #000000) !important;
    color: white !important;
}

.Playlist-Modal-Header1 {
    background: linear-gradient(to bottom, #000000, #6a0000) !important;
    color: white !important;
}

.Playlist-Modal-Body {
    color: #000000 !important;
    font-size: larger !important;
}

.btn-cancel {
    background-color: #ffffff !important;
    color: black !important;
}

.btn-cancel:hover {
    background-color: #7d0000 !important;
    color: rgb(255, 255, 255) !important;
    border-color: white !important;
}

.btn-confirm {
    background-color: #640000 !important;
    color: rgb(255, 255, 255) !important;
    border-color: white !important;
}

.btn-confirm:hover {
    background-color: #ca0000 !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(0, 0, 0) !important;
}

.playmusicbtn1 {
    color: #000000 !important;
    background-color: #DC143C !important;
    border-color: #ffffff !important;
    margin-right: 10px !important;
}

.playmusicbtn1:hover {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    margin-right: 10px !important;
}

.requestbtn {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
    margin-left: -100px !important;
    margin-bottom: 10px !important;
}

.requestbtn:hover {
    background-color: rgb(110, 110, 110) !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
    margin-left: -100px !important;
    margin-bottom: 10px !important;
}


.test {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
}

.containerss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C0303 !important;
    padding: 15px !important;
}



.containersss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px !important;
}

.buttonsss {
    display: flex;
    gap: 10px;
    /* Adjust the gap between buttons as needed */
}

.btn2 {
    background-color: rgb(43, 43, 43) !important;
    border-color: white !important;
    margin-right: 7px !important;
}

.btn2:hover {
    background-color: rgb(223, 223, 223) !important;
    border-color: rgb(0, 0, 0) !important;
    color: #000000 !important;
}

.bok {
    background-color: #2F0000 !important;
    color: white !important;
}

.testt {
    width: auto !important;
}

.rightt {
    margin-left: 10px !important;
}

.righttt {
    margin-left: 75px !important;
}

.playmusicbtnalbm {
    color: #000000 !important;
    background-color: #DC143C !important;
    border-color: #ffffff !important;
    margin-right: 5px;
}

.playmusicbtnalbm:hover {
    color: #DC143C !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    transition: .5s !important;
}

.img-albm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-albm2 {
    width: 150px;
    height: 100px;
    border-radius: 10px 10px;

}

.albumname {
    margin-left: -400px !important;
}

.teeest {
    background-color: #000000 !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.add-album-searchbar {
    background-color: #eeeeee !important;
    border: 1px solid #cecece !important;
    color: rgb(0, 0, 0) !important;
    font-size: 15px !important;
}

.tet {
    background-color: #DC143C !important;
    color: white !important;
}

.requestbtn1 {
    background-color: white !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    margin-right: 5px !important;
}

.requestbtn1:hover {
    background-color: rgb(110, 110, 110) !important;
    color: black !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    margin-right: 5px !important;
}

.tot {
    margin-left: -100px !important;
}

.bokk {
    background-color: #6a0000 !important;
    color: white !important;
}

.controler {
    position: fixed;
    bottom: 0;
    left: 25px;
    right: 25px;
    background-color: transparent;
    }

    .spacingmusic {
    margin-top: 15px !important;
    margin-bottom: 30px !important;
    margin-left: 20px !important;
    font-weight: bold !important;
}

.card-title {
    font-weight: bold !important;
}

.musicbox {
    width: '25%';
    margin-bottom: '1rem';
    margin-right: '0.25rem';
}

.musicboxcontainer {
    background-color: #212121 !important;
    border-radius: 10px !important;
    padding-top: 20px !important;
    height: 500px !important;
}

.musicboxcontainer2 {
    background-color: #212121 !important;
    border-radius: 10px !important;
    padding-top: 20px !important;
    height: 500px !important;
    margin-left: 15px !important;
}

.music-container {
    padding-right: 400px !important;
}

.music-container::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

.music-container::-webkit-scrollbar-track {
    background: #212121;
    /* Color of the scrollbar track */
}

.music-container::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: none;
    /* Rounded corners */
}

.music-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

.musicboxcontainer::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

.musicboxcontainer::-webkit-scrollbar-track {
    background: #212121;
    /* Color of the scrollbar track */
}

.musicboxcontainer::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: none;
    /* Rounded corners */
}

.musicboxcontainer::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

.searchbar {
    bottom: 10px;
}

.rhap_container {
    background-color: #282828 !important;
    color: #fff !important;
}

.rhap_progress-filled {
    background: #fff !important;
}

.rhap_progress-indicator {
    background: #fff !important;
}

.rhap_controls-section {
    color: #fff !important;
}

.rhap_additional-controls {
    color: #fff !important;
}

.rhap_button-clear {
    color: #fff !important;
}

.card {
    background-image: url('/src/images/musicicon.png');
    background-size: cover;
    background-position: center;
}

.card-title{
    color: white !important;
}

.card-text{
    color: white !important;
}
